.Imagen2
{
  width: 23vw;
  height: 6.8vh;
  padding-right: 40px;
  float: left;
  padding-left: 10px;
  margin-left: 10px;
}

.DarkBar
{
  display: flex;
  flex: 1 1;
  background-color: rgb(41, 41, 41);
  max-width: 100vw;
  height: 11vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.btnLogOut
{
    margin-right: 10px;
    float: right;
    padding-left: 50%;
}