body 
{
  font-family: sans-serif
}

.Imagen1{
  width: 90%;
  height: 30%;
  border-radius: 5px 5px 0px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  float: right;
}

/* .Form1
{
  margin-left: 100px;
  margin-top: 120px;
  width: 20vw;
  margin-bottom: 40px;
} */

.Tituloform
{
  font-family: "Tahoma Black";
}




.completeDiv5
{
  display: flex;
  gap: 2.5%;
  align-items: center;
  justify-content: center;
  /*min-height: 100Vh;
  max-width: 100vw; */
  height: 90vh;
}
.completeDiv5>* {
  min-width: 25vw;
  margin: .25em;
}

.completeDiv1
{
  display: flex;
  gap: 2.5%;
  align-items: center;
  justify-content: center;
  min-height: 100Vh;
  max-width: 100vw;
  height: 90vh;
}
.completeDiv1>* {
  min-width: 25vw;
  margin: .25em;
}

.headerBar
{ 
  padding: 10px;
}

.TitleLogIn
{
  margin-top: -50px;
  font-family: "Arial";
}

.outBtn
{
  margin-top: 16.2px;
  margin-right: 50px;
  float: right;
}

.second-division {
  width: 100%;
}

.container
{
  margin-top: 100px;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.form-field
{
  width: fit-content;
  padding: 50px;
  border-radius: 10px;
  outline: 2px solid #1f1070;
  -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
  backdrop-filter: blur(8px); /* Chrome and Opera */
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
  background-color: rgba(62, 60, 60, 0.15); 
}

.name
{
  margin-right: 5000px;
  position:fixed;

}

.BOM
{
  margin-right: 20px;
  margin-left: 20px;
}
.add-btn
{
  margin-top: 10px;
}

.deleteBtn
{
  margin-left: 20px;
  margin-bottom: 30px; 
}

.buyOrder
{
  position: absolute;
  right: 0%;
  bottom: 10%;
  margin: 2%;
}

.completeDiv
{
  width: 100%;
  min-height: 100vh;
/* background: linear-gradient(-45deg, #7a7cff, #9387ff, #d6feff, #ffffff, #e0e0e0);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; */
}

/* @keyframes gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
} */

.card
{
  width: 350px;
  height: 612px;
  background: #ffffff;
  border-radius: 25px;
  transition: transform 0.8s;
  transform-style: preserve-3d;;
  box-shadow: 0px 4px 4px rgba(98, 94, 199, 0.573);
}



.text_back
{
  box-sizing:initial;
  width: 100%;
  height: 50%;
  background: #0f073f ;
  border: 1px solid #000000;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 4px 4px rgba(98, 94, 199, 0.573);
}

.h1TxtBack 
{
  border-bottom: 1px solid #452ae0;
  padding-bottom: 15px;
  font-size: 1.75vw;
  font-weight: 400;
}

.text_back div
{
  width: 85%;
  margin: auto;
}

.h1TxtBack
{
  color: #452ae0;
}

p
{
  font-size: 1vw;
  font-weight: 400;
  margin-top: 5%;
}

.span1
{
  color: #452ae0;
  margin-top: 25%;
  margin-bottom: 200px;
}

.Imagen4
{
  width: 70%;
  height: 30%;
  border-radius: 5px 5px 0px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  filter: drop-shadow(8px 8px 4px rgb(75, 73, 73));
}

.card:hover {
  transform: rotateY(180deg);
}

.flip-card-back
{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back
{
  background: #0f073f;
  color: white;
  transform: rotateY(180deg);
}

h2 
{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.tableParts
{
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 20px;
}

.inputUser
{
  margin-top: 15px;
  border-radius: 4px;
  font: inherit;
  color: black;
  background-color: transparent;
  outline: 2px solid #1f1070;
  border: none;
  padding: 6px;
  width: 300px;
}

.inputPass
{
  margin-top: 15px;
  border-radius: 4px;
  font: inherit;
  color: black;
  background-color: transparent;
  outline: 2px solid #1f1070;
  border: none;
  padding: 6px;
  width: 300px;
}

.homeBtn
{
  margin-top: 3px;
  margin-bottom: 50px;
}

.name{
  margin-right: 20px;
}

.flip-card-back
{
  padding: 20%;
}

.ordersTxt
{
  color: #2c15af;
}

.table
{
  margin-top: 20px;
  border-radius: 4px;
  outline: 2px solid #452ae0;
}

.tableDiv
{
  background-color:rgb(255, 255, 255);
}

.completeDiv2
{
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.navBar
{
  position: absolute;
  width: 100vw;
}

.autoCompleteBoard{
  margin: 15px;
}
.filterBtn
{
  margin-bottom: 10px;
}
 .completeDiv > .NovoTableDiv
{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}


.filterDiv
{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

 .first-division
{
  display: flex;
  flex-direction: row;
}

.completeDiv2
{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NovoTableDiv
{
  outline: 2px solid #452ae0;
  border-radius: 0.3%;
  width: 90vw;
  height: auto;
}

.outBtn
{
  position: relative;
}

.completeDiv3
{
  min-height: 100vh;
  display: flex;
}

.completeDiv3 > * {
  margin: auto;
}

.cardDiv
{
  padding: 50px;
}


.Card1{
  border-radius:10px;
  transition: .2s all ease;
  width: 45vw;
}
.Link {
  transition: .2s all ease;
  padding: 5px;
}
.Link:hover{
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}
.Card1:hover{
  box-shadow: 5px solid grey;
}


.Card2{
  border-radius:10px;
  width: 45vw;
}


.makeOrder
{
  display: flex;
  position: relative;
}

.name
{
  position: absolute;
  top: 40%;
  right: 0%;
}

.menuBtn
{
  display: flex;
  max-width: 100vw;
}

.Form1DIV{
  border-radius:10px;
  transition: .2s all ease;
  width: 45vw;
  height: 70vh;
  outline: 2px solid #2d10d1;
  border-radius: 4px;
  box-shadow: 8px 8px 4px rgb(190, 190, 190);
}



/* .form1DIV
{
  margin-left: 60px;
  margin-top: 120px;
  padding: 6px;
  outline: 2px solid #2d10d1;
  width: 40vw;
  height: 60vh;
  border-radius: 4px;
  box-shadow: 8px 8px 4px rgb(190, 190, 190);
} */

/* .services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
} */
/*
.pcLine1
{
  margin-top: 60px;
}

.pcLine2
{
  margin-top: 120px;
}

.pcLine3
{
  margin-top: 150px;
}
*/
.front-home
{
  width: 400px;
  background: #24303c;
}

/*.form-label
{
  font-family: "Arial"
}

.form-label1
{
  font-family: "Arial"
}
*/




