
body 
{
  font-family: sans-serif
}
.Imagen1
{
   float: right;
}

.Form1
{
  margin: 0;
  margin-left: 100px;
  margin-top: 100px;
  width: 500px;
}

.Tituloform
{
  font-family: "Tahoma Black";
}

.Imagen2
{
  width: 300px;
  height: 50px;
  margin-top: 10px;
  margin-left: 140px;
  float: left; 
}

.DarkBar
{
  background-color: rgb(37, 1, 61);
  width: 100%;
  height: 70px;
  
}

.TitleLogIn
{
  margin-top: -50px;
  font-family: "Arial";
}

.outBtn
{
  margin-top: 16.2px;
  margin-right: 50px;
  float: right;
}

.form-field
{
  background-color: rgb(12, 8, 66);
  padding: 50px;
  margin: 50px;
  border-radius: 10px;
  width: 77%;
}

.name
{
  margin-left: 20px;
}

.BOM
{
  margin-right: 20px;
  margin-left: 20px;
}
.add-btn
{
  margin-left: 830px;
  margin-top: 10px;
}

.deleteBtn
{
  margin-left: 20px;
  margin-bottom: 30px; 
}

.buyOrder
{
  margin-top: -40px;
  margin-right: 40px;
}

.completeDiv
{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(-45deg, #8e89d4, #768fe0, #afadb9, #ffffff, #7d71e2);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.card
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 612px;
  background: #ffffff;
  border-radius: 25px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(98, 94, 199, 0.573);
}



.text_back
{
  box-sizing:initial;
  width: 100%;
  height: 50%;
  background: #0f073f ;
  border: 1px solid #000000;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 4px 4px rgba(98, 94, 199, 0.573);
}

.h1TxtBack 
{
  border-bottom: 1px solid #452ae0;
  padding-bottom: 15px;
  font-size: 1.75vw;
  font-weight: 400;
}

.text_back div
{
  width: 85%;
  margin: auto;
}

.h1TxtBack
{
  color: #452ae0;
}

p
{
  font-size: 1vw;
  font-weight: 400;
  margin-top: 5%;
}

.span1
{
  color: #452ae0;
  margin-top: 25%;
  margin-bottom: 200px;
}

.Imagen4
{
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  
}

.card:hover {
  transform: translate(-50%, -50%)rotateY(180deg);
}

.flip-card-back
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back
{
  background: #0f073f;
  color: white;
  transform: rotateY(180deg);
}

h2 
{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.cardDiv
{
  margin-top: 250px;
  margin-right: 550px;
}

.cardDiv2
{
  margin-top: -370px;
  margin-left: 550px;
}

.tableParts
{
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 20px;
}

.inputUser
{
  margin-top: 15px;
  border-radius: 4px;
  font: inherit;
  color: black;
  background-color: transparent;
  outline: 2px solid #1f1070;
  border: none;
  padding: 6px;
  width: 300px;
}

.inputPass
{
  margin-top: 15px;
  border-radius: 4px;
  font: inherit;
  color: black;
  background-color: transparent;
  outline: 2px solid #1f1070;
  border: none;
  padding: 6px;
  width: 300px;
}

.homeBtn
{
  margin-top: 3px;
  margin-bottom: 50px;
}

.form1DIV
{
  margin-left: 40px;
  margin-top: 80px;
  padding: 6px;
  outline: 2px solid #452ae0;
  width: 600px;
  border-radius: 4px;
}

.name{
  margin-right: 20px;
}

.makeOrder
{
  margin-left: 720px;
}

.iconCSV
{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.csvBtn
{
  margin-left: 1189px;
}
/*
.pcLine1
{
  margin-top: 60px;
}

.pcLine2
{
  margin-top: 120px;
}

.pcLine3
{
  margin-top: 150px;
}
*/
.front-home
{
  width: 400px;
  background: #24303c;
}

/*.form-label
{
  font-family: "Arial"
}

.form-label1
{
  font-family: "Arial"
}
*/




